<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
        <!-- Prata стиль текста -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <!-- Poppins стиль текста -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap" rel="stylesheet">

        <title>Elite</title>
    </head>

    <body>
        <header>
            <div class="logo">
                <a href="{% url 'home' %}">
                    <h1>Elite</h1>
                </a>
            </div>
            <div class="navbar">
                <a href="{% url 'men' %}">Для мужчин</a>
                <a href="#">Для женщин
                <a href="#">Для дома</a>
                <a href="{% url 'Авторизация' %}"><button>Sign up</button></a>
            </div>
        </header>
        <div class="content">
            <div class="hero-section">
                <img src="{% static '\Photo\banner\left.jpg'%}" alt="">
                <div class="girls">
                    <img src="{% static '\Photo\banner\top.jpg'%}" alt="">
                    <div class="girls-text">
                        <h1>ULTIMATE</h1>
                        <h2>SALE</h2>
                        <h3>NEW COLLECTION</h3>
                        <a href="{% url 'men' %}"><button>SHOP NOW</button></a>
                    </div>
                    <img src="{% static '\Photo\banner\bot.jpg'%}" alt="">
                </div>
                <img src="{% static '\Photo\banner\right.jpg'%}" alt="">
            </div>
            <div class="logos">
                <img src="{% static '\Photo\Logos\logo-2.jpg' %}" alt="">
                <img src="{% static '\Photo\Logos\logo-3.jpg' %}" alt="">
                <img src="{% static '\Photo\Logos\logo-1.jpg' %}" alt="">
                <img src="{% static '\Photo\Logos\logo-4.jpg' %}" alt="">
                <img src="{% static '\Photo\Logos\logo.jpg' %}" alt="">
            </div>
            <div class="new-arrivals">
                <div class="title-text">
                    <h1>New Arrivals</h1>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin</h4>
                </div>
                <div class="categories">
                    <button>Men's Fashion</button>
                    <button>Women's Fashion</button>
                    <button>Women Accessories</button>
                    <button>Men Accessories</button>
                    <button>Discount Deals</button>
                </div>
                <div class="products">
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>Shiny Dress</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images-2.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>Long Dress</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images-4.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>Full Sweater</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images-1.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>White Dress</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images-3.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>Colorful Dress</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                    <div class="product-cart">
                        <img src="{% static 'Photo\products\images-5.jpg' %}" alt="">
                        <div class="cart-first">
                            <div class="product-name">
                                <h3>White Shirt</h3>
                                <h4>Al Karam</h4>
                            </div>
                            <div class="rating">
                                <img src="{% static 'Photo\rating\Vector.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-1.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-2.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-3.png' %}" alt="">
                                <img src="{% static 'Photo\rating\Vector-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="cart-second">
                            <h4>(4.1k) Customer Reviews</h4>
                        </div>
                        <div class="cart-third">
                            <div class="price">
                                <h3>$95.50</h3>
                            </div>
                            <h4>Almost Sold Out</h4>
                        </div>
                    </div>
                </div>
                <button>View More</button>
            </div>
        </div>
        <footer>
            <div class="logo">
                <a href="https://youtube.com">
                    <h1>Elite</h1>
                </a>
            </div>
            <div class="footer-right">
                <a href="">Support Center</a>
                <a href="">Invoicing</a>
                <a href="">Contract</a>
                <a href="">Careers</a>
                <a href="">Blog</a>
                <a href="">FAQ,s</a>
            </div>
        </footer>
        <script>

        </script>
    </body>
</html>