<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type = text/css href="{% static 'product_page.css' %}">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <link rel="icon" href="{% static 'Photo/Eliteporfume.ico' %}">
    <!-- Prata стиль текста -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <!-- Poppins стиль текста -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap" rel="stylesheet">

    <title>Elite</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <h1>Elite</h1>
            </a>
        </div>
        <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'catalog' %}">Shop</a>
            <a href="#">Products</a>
            <ul>
                <a href="#">Pages</a>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <h3>Sign in</h3>
        {% else %}
            <a href="{% url 'register' %}"><button>Sign up</button></a>
        {% endif %}
    </header>
    <div class="content">
        <div class="product-detail">
            <div class="media">
                <div class="media-nav">
                    <div class="media-nav-img">
                        <img src="{% static 'Photo\media-nav\1.jpg' %}" alt="">
                    </div>
                    <div class="media-nav-img">
                        <img src="{% static 'Photo\media-nav\2.jpg' %}" alt="">
                    </div>
                    <div class="media-nav-img">
                        <img src="{% static 'Photo\media-nav\3.jpg' %}" alt="">
                    </div>
                    <div class="media-nav-img">
                        <img src="{% static 'Photo\media-nav\4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="media-container">
                    <img src="{% static 'Photo\media-nav\main.jpg' %}" alt="">
                </div>
            </div>
            <div class="detail">
                <div class="detail-box">
                    <h4>Elite</h4>
                    <div class="detail-title">
                        <h2>Denim Jacket</h2>
                        <div class="title-star">
                            <span class="star-title">&#9734</span>
                        </div>
                    </div>
                    <div class="rating">
                        <div class="star">
                            <span class="star">&#9733</span>
                            <span class="star">&#9733</span>
                            <span class="star">&#9733</span>
                            <span class="star">&#9733</span>
                            <span class="star">&#9733</span>
                        </div>
                        <h5>(3)</h5>
                    </div>
                </div>
                <div class="price">
                    <h3>$39.00</h3>
                    <h4>$59.00</h4>
                    <div class="discount">
                        <h5>SAVE 33%</h5>
                    </div>
                </div>
                <div class="size">
                    <div class="size-title">
                        <h4 style="font-weight: 600;">Size:</h4>
                        <h4>M</h4>
                    </div>
                    <div class="size-body">
                        <div class="size-box">
                            <h4>S</h4>
                        </div>
                        <div class="size-box">
                            <h4>M</h4>
                        </div>
                        <div class="size-box">
                            <h4>L</h4>
                        </div>
                        <div class="size-box">
                            <h4>XL</h4>
                        </div>
                    </div>
                </div>
                <div class="colors">
                    <div class="color-title">
                        <h4 style="font-weight: 600;">Color:</h4>
                        <h4>Blue</h4>
                    </div>
                    <div class="color-body">
                        <div class="color" style="background-color: #6CF6FF;"></div>
                        <div class="color" style="background-color: #000;"></div>
                        <div class="color" style="background-color: #FF6C6C;"></div>
                    </div>
                </div>
                <div class="quantity-box">
                    <div class="quantity-title">
                        <h4 style="font-weight: 500;">Quantity</h4>
                    </div>
                    <div class="quantity">
                        <div class="count">
                            <h4>-</h4>
                            <h4>1</h4>
                            <h4>+</h4>
                        </div>
                        <div class="add-cart">
                            <h4>Add to cart</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <h4>Description</h4>
        <p>Такой подход позволит элементу .rating выровняться по вертикали на одной линии с заголовком ''.
            Если хочешь — можем доработать стили звёздочек или добавить адаптивность.</p>
    </div>
    <footer>
        <div class="logo">
            <h1>Elite</h1>
        </div>
        <div class="footer-right">
            <a href="">Support Center</a>
            <a href="">Invoicing</a>
            <a href="">Contract</a>
            <a href="">Careers</a>
            <a href="">Blog</a>
            <a href="">FAQ,s</a>
        </div>
    </footer>
</body>
</html>