*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #484848;
    max-width: 1920px;
    /* width: 100vw; */
}

h1, h2, h3{
    font-family: "Prata", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 160px;
    font-size: 16px;
    background-color: #F5F5F5;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar button{
    padding: 10px 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.navbar button:hover{
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}


/* BODY */

.content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Чтобы между элементами content были отступы */
}

.hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.hero-section img{
    width: 100%;
    height: 100%;
}

.girls{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.girls-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.girls img{
    width: 100%;
}

.girls h1{
    font-weight: 500;
    font-size: 50px;
}

.girls h2{
    font-weight: 500;
    font-size: 100px;
}

.girls h3{
    font-weight: 400;
    font-size: 20px;
}

.girls-text button{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}

.girls-text button:hover{
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}

/* Logo */

.logos{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 45px;
}
.logos img{
    /* width: 16%; */
    width: 150px;
}

/* New arrivals */
.new-arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new-arrivals button{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    width: 180px;
}

.new-arrivals button:hover{
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}


/* Title-text */

.title-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text h1{
    font-size: 40px;
    font-weight: 400;
}

.title-text h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #8A8A8A;
    text-align: center;
    width: 70%;
}

/* Category */
.categories{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.categories button{
    width: 180px;
    background-color: white;
    color: black;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
}

.categories button:hover{
    background-color: black;
    color: white;
    /* cursor: pointer; */
}

/* Product */

.product{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.product-cart{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 235px;
    background-color: white;
    margin: 20px 10px;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);
}

.product_image{
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.product_image img{
    width: auto;
    height: 100%;
    max-width: 100%;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-cart:hover{
    cursor: pointer;
}


.cart-first{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.star{
    display: flex;
    /* color: yellow; */
}

.product-name{
    display: flex;
    flex-direction: column;
}

.product-cart h3, h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.product-name h4{
    color: #8A8A8A;
    font-size: 12px;
}
.cart-second, .cart-third h4{
    color: #484848;
    font-size: 12px;
}

.cart-third{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-third h4{
    color: #FF4646;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}

.footer-right{
    display: flex;
    gap: 40px;
}

.footer-right a{
    /* font-family: "Poppins", sans-serif; */
    font-size: 16px;
    font-weight: 400;
}